:root{
  --blue:#56CCF2;
  --blue2:#2F80ED;
  --dark:#050d18;
  --dark2:#080f1f;
  --card:#0d1a2e;
  --text:#e8f4fd;
  --muted:#8baac2;
}
nav{
    position: fixed;
    top: 0%;
    width:100%;
    /* height: 120px; */
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 70px;
    background:#050d18;
    z-index: 100;
    border-bottom:1px solid rgba(139, 170, 194, 0.5);
}

.brand{
    font-size:40px;
    color:#5fd3ff;
    font-weight:600;
}

.brand span{
    color:white;
}

.nav-menu{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-menu a{
    text-decoration:none;
    color:#8baac2;
    font-size:16px;
}
.hov:hover {
    color:var(--blue);
}


.hamburger{
    display:none;
    color:white;
    font-size:35px;
    cursor:pointer;
    padding: 0;
    margin: 0;

}
@media (max-width:768px){

    nav{
        padding:20px;
    }

    .brand{
        font-size:30px;
    }

    .hamburger{
        display:block;
    }

    .nav-menu{
        position:absolute;
        top:80px;
        right:-100%;
        width:250px;
        background:#091524;
        flex-direction:column;
        padding:30px;
        gap:25px;
        transition:0.5s;
    }

    .nav-menu.active{
        right:0;
        margin: 0;
    }

    .nav-menu a{
        font-size:18px;
    }
}